<!DOCTYPE html>
<html lang="en">
{% include "head.njk" %}
<body>
    <header>
            </header>         
<main>
    {% include "nav.njk" %}
    <article>
        <div class="content">
    {{ content | safe }}
</div>
</article>
</main>
</body>
<hr></hr>
<footer>
    <div class="footer">
    <p>Released by David Ralph Lewis under a Creative Commons Attribution-NonCommercial 4.0 International Licence <br>
    No AI, just me.<br>
    <a href="https://www.instagram.com/davidralphlewis">Instagram</a> <a href="https://www.facebook.com/davidralphlewis">Facebook</a></p>
</div>
</footer>
</html>