<div class="topnav">
  <input type="checkbox" id="check">
        <label for="check" class="checkbtn">
            <i class="fa fa-bars"></i>
            </label>
  <label class="logo"><a href="/">David Ralph Lewis</a></label>
  <ul>
  <li><a href="/about">About Me</a></li>
  <li><a href="/projects">Projects</a></li>
  <li><a href="/blog">Blog</a></li>
  <li><a href="https://notes.davidralphlewis.co.uk">Notes</a></li>
  <li><a href="https://davidralphlewis.bigcartel.com/">Shop</a></li>
  <li><a href="https://mailchi.mp/5643ab85b338/dispatches-from-david-ralph-lewis">Mailing List</a></li>
  <li><a href="https://ko-fi.com/davidralphlewis">Tip Jar</a></li>
  </ul>
</div>
 
<script>
/* Toggle between adding and removing the "responsive" class to topnav when the user clicks on the icon */
function myFunction() {
  var x = document.getElementById("myTopnav");
  if (x.className === "topnav") {
    x.className += " responsive";
  } else {
    x.className = "topnav";
  }
} 
</script>