   <header class="header">
        <!-- Logo -->
        <a href="/" class="logo">David Ralph Lewis</a>
        <!-- Hamburger icon -->
        <input class="side-menu" type="checkbox" id="side-menu"/>
        <label class="hamb" for="side-menu"><span class="hamb-line"></span></label>
        <!-- Menu -->
        <nav class="nav">
            <ul class="menu">
                <li><a href="/about">About Me</a></li>
                <li><a href="/projects">Projects</a></li>
                <li><a href="/blog">Blog</a></li>
                  <li><a href="https://notes.davidralphlewis.co.uk">Notes</a></li>
  <li><a href="https://davidralphlewis.bigcartel.com/">Shop</a></li>
  <li><a href="https://mailchi.mp/5643ab85b338/dispatches-from-david-ralph-lewis">Mailing List</a></li>
  <li><a href="https://ko-fi.com/davidralphlewis">Tip Jar</a></li>
            </ul>
        </nav>
    </header>