<main class="with-side-nav">
  <nav>
    David Ralph Lewis
    <ul>
      <li><a href="/">Home</a> </li>
      <li><a href="/about">About Me</a></li>
      <li><a href="/blog">Blog</a></li>
      <li><a href ="/projects">Projects</a></li>
    </ul>
  </nav>
  