---
layout: "base.njk"
---

<h1> {{ title }} </h1>
<p><i>Published on: {{ page.date.toDateString() }}</i></p>
    {% for tag in tags %}
    <button>
<a href="/posts/tag/{{tag}}">{{tag}}</a>
    </button>
    {% endfor %}

{{ content | safe }}
