---
layout: "base.njk"
---

<h1> {{ title }} </h1>
<p><i>Published on: <time datetime="{{ post.date | dateIso }}">{{ post.date | dateReadable }}</time></i></p
<ul>
    {% for tag in tags %}
    <li>
        <a href="/posts/tag/{{ tag | slugify }}">{{ tag }}</a>
    </li>
    {% endfor %}
</ul>
{{ content | safe }}
