{% include logic.html %}

<footer>
    <div class="container">
        <div class="mt-5 py-5 content">
            <div class="d-flex justify-content-center justify-content-md-start">
                <div class="flex-md-fill">&copy; {% if published_year %}{{ published_year }}{% if published_year != current_year %} - {{ current_year }}{% endif %}{% endif %} {{ site.title }}</div>
                {% assign menu = site.data.navigation %}
                {% assign links = menu.footer_menu %}
                {% for link in links %}
                    <div class="pl-3 d-none d-md-block"><a href="{{ link.url }}" {% if link.target %}target="_{{ link.target }}"{% endif %}>{% if link.icon %}<i class="{{ link.icon }}"></i>{% endif %} </i>{{ link.title }}</a></div>
                {% endfor %}
            </div>
        </div>
    </div>
</footer>

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/anchor-js/4.2.0/anchor.min.js" integrity="sha256-m1eTvwEHwmsw4+XKF7BshClVJEPwTVycveNl0CS0Mkk=" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
<script src="{{ '/assets/js/main.js' | absolute_url }}"></script>