<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, viewport-fit=cover">
<title>{% unless page.title == site.title %}{{ page.title }} - {{ site.title }}{% else %}{{ site.title }} - {{ site.description }}{% endunless %}</title>
<meta name="description" content="{{ page.excerpt | default: site.description | strip_html | normalize_whitespace | truncate: 160 | escape }}">
<meta name="keywords" content="{{ site.title | downcase }}{% if site.keywords %}, {{ site.keywords | downcase }}{% endif %}{% if page.keywords %}, {{ page.keywords | downcase }}{% endif %}">
<meta name="author" content="{% if author.name %}{{ author.name }}{% else %}{{ site.title }}{% endif %}">
<link rel="canonical" href="{{ page.url | replace:'index.html', '' | absolute_url }}">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.11.2/css/all.css">
<link rel="stylesheet" href="{{ '/assets/css/main.css' | absolute_url }}">