{% include logic.html %}

<div id="masthead" class="masthead-{{ masthead }}">
{% if masthead == "plain" %}
    <div class="jumbotron jumbotron-fluid text-center text-md-left bg-transparent mb-0">
        <div class="container my-5 py-5">
{% elsif masthead == "banner" %}
    <div class="jumbotron jumbotron-fluid text-center text-md-left text-white bg-dark mb-0" style="background: linear-gradient(rgba(0, 0, 0, 0.65), rgba(0, 0, 0, 0.65)), url('{{ page.featured_image | default: site.featured_image | absolute_url }}') no-repeat center center; background-size: cover;">
        <div class="container my-5 py-5">
{% endif %}
            <h1 class="display-3">{{ page.title }}</h1>
            <p class="lead">{{ page.description }}</p>
        </div>
    </div>
</div>