{% include logic.html %}

<div class="d-flex">
    <div class="flex-fill">
        <h1>Pages</h1>
        <div class="archive pages-archive">
            <div class="list-group">
                {% assign pages = site.pages | sort: "url" %}
                {% for page in pages %}
                    {% unless page.url == "/" %}
                        <a href="{{ page.url }}" title="{{ page.title }}">{{ page.title }}</a>
                    {% endunless %}
                {% endfor %}
            </div>
        </div>
    </div>
    <div class="flex-fill">
        <h1>Articles</h1>
        <div class="archive article-archive">
            <div class="list-group">
                {% assign articles = site.posts %}
                {% for article in articles %}
                    <a href="{{ article.url }}" title="{{ article.title }}">{{ article.title }}</a>
                {% endfor %}
            </div>
        </div>
    </div>
</div>