{% include logic.html %}
<div>
<h1 style="text-align:center; font-family: 'Amethysta';font-size: 60px;"><a href="https://www.davidralphlewis.co.uk">David Ralph Lewis</a></h1>
<h2 style="text-align:center; font-family: 'Amethysta';font-size: 30px;"> Poet and Author </h2></br>
<h3 style="text-align:center; font-family: 'Amethysta';font-size: 100%;"><a href="/articles/">Blog</a> • <a href="/mybooks">Books</a> • <a href="/publications/">Publication History</a> • <a href="https://davidralphlewis.bigcartel.com/">Shop</a> • <a href="mailto:contact@davidralphlewis.co.uk">Email Me</a> • <a href="https://ko-fi.com/davidralphlewis">Ko-Fi</a></h3>
</div>
