{% include logic.html %}
<div class="header">
<h1 style="text-align:center;font-size: 45px;">David Ralph Lewis</h1>
<h2 style="text-align:center;font-size: 30px;"> Poet and Author </h2>
<p><a href="https://www.facebook.com/davidralphlewis"><i class="fab fa-facebook-square"></i></a>
<a href="https://www.twitter.com/davidralphlewis"><i class="fab fa-twitter-square"></i></a>
<a href="https://www.instagram.com/davidralphlewis"><i class="fab fa-instagram"></i></a>
<a href="https://www.soundcloud.com/davidralphlewis"><i class="fab fa-soundcloud"></i></a>
<a href="/feed.xml"><i class="fas fa-rss"></i></a></p>
</div>
<nav class="navbar sticky-top navbar-expand-md navbar-dark navbar-custom">
  <a class="navbar-brand" href="https://www.davidralphlewis.co.uk">Home</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav nav-fill w-100">
      <a class="nav-item nav-link px-3" href="/mybooks">Books</a>
      <a class="nav-item nav-link px-3" href="/publications">Publication History</a>
      <a class="nav-item nav-link px-3" href="https://www.davidralphlewis.co.uk/articles/">Blog</a>
      <a class="nav-item nav-link px-3" href="https://notes.davidralphlewis.co.uk">Notes</a>
 <a class="nav-item nav-link px-3" href="https://davidralphlewis.bigcartel.com/">Shop</a>
<a class="nav-item nav-link px-3" href="mailto:contact@davidralphlewis.co.uk">Email Me</a>
<a class="nav-item nav-link px-3" href="https://ko-fi.com/davidralphlewis">Ko-Fi</a>
</div>
    </div>

</nav>
