{% include logic.html %}
<nav class="navbar navbar-expand-md navbar-dark navbar-custom">
  <div class="navbar-brand">David Ralph Lewis</div>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav">
       <a class="nav-item nav-link px-3" href="/">Home</a>
      <a class="nav-item nav-link px-3" href="/mybooks">Books</a>
      <a class="nav-item nav-link px-3" href="/publications">Publication History</a>
      <a class="nav-item nav-link px-3" href="https://www.davidralphlewis.co.uk/articles/">Blog</a>
      <a class="nav-item nav-link px-3" href="https://davidralphlewis.github.io/binaryephemera">Notes</a>
 <a class="nav-item nav-link px-3" href="https://davidralphlewis.bigcartel.com/">Shop</a>
<a class="nav-item nav-link px-3" href="mailto:contact@davidralphlewis.co.uk">Email Me</a>
<a class="nav-item nav-link px-3" href="https://ko-fi.com/davidralphlewis">Ko-Fi</a>
</div>
<div class="ml-auto">
 <button class="btn-toggle">Light Switch</button>
  </div>

</div>
    </div>

</nav>
