@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@700&display=swap');

:root{
    --background-color: #fefff2;
    --background-color-dark: #161625;
    --font-color: #242424;
    --font-color-dark: #fefff2;
    --highlight-color: #a30000;
    --highlight-color-dark: orange;
    --secondary-color: #a6a6a6;
    --secondary-color-dark: #454545;
    --link-color: #12009c;
    --link-color: #12009c;
    --link-color-visited: #650094; 
    --header-color: #242424;
    --code-background-color: #0f140f;
}
html {
  scroll-behavior: smooth;
}
body {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background: var(--background-color);
    color: var(--font-color);
    transition: background 1s;
}

body.dark-theme {
     -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background: #161625;
    color: var(--font-color-dark);
}
    
a:link {
  color: var(--link-color);
text-decoration: underline;
}

/* visited link */
a:visited {
    color: var(--link-color-visited);
}

a:hover {
background: var(--highlight-color);
 color: black;
 text-decoration: underline;

}

a[target="_blank"]:after {
    font-family: 'Font Awesome 5 Free';
    content: " \f35d";
font-style: normal;
font-weight: 900;
}

body.dark-theme a {
    color: #08ffe2;
    text-decoration: underline;
}

body.dark-theme a:visited{
    color: #ff08ef;
    text-decoration: underline
}

    p {
font-weight: 500;
margin-top: 10px;
    font-family: 'Open Sans', sans-serif;
    text-align: left;
    line-height: 1.6;
    font-size: 19px;
    color: var(--font-color);
    }

    body.dark-theme p{
	font-weight: 500;
margin-top: 10px;
    font-family: 'Open Sans', sans-serif;
    text-align: left;
    line-height: 1.6;
    font-size: 19px;
    color: var(--font-color-dark);
    }
    

    
    h1 {
font-weight: 900;
        margin-left: auto;
        margin-right: auto;
margin-top: 17px;
margin-bottom: 17px;
        font-family: 'Merriweather', serif;
        text-align: center;
	color: var(--highlight-color);

    }

        h2 {
font-weight: 900;
        margin-left: auto;
        margin-right: auto;
margin-top: 17px;
margin-bottom: 17px;
        font-family: 'Merriweather', serif;
        text-align: center;
	color: var(--highlight-color);

	}

	        h3 {
font-weight: 900;
        margin-left: auto;
        margin-right: auto;
margin-top: 17px;
margin-bottom: 17px;
        font-family: 'Merriweather', serif;
        text-align: center;
	color: var(--highlight-color);

		}
		
    body.dark-theme h1 {
font-weight: 900;
        margin-left: auto;
        margin-right: auto;
margin-top: 17px;
margin-bottom: 17px;
        font-family: 'Orbitron', sans-serif;
        text-align: center;
	color: var(--highlight-color-dark);

    }

        body.dark-theme h2 {
font-weight: 900;
        margin-left: auto;
        margin-right: auto;
margin-top: 17px;
margin-bottom: 17px;
        font-family: 'Orbitron', sans-serif;
        text-align: center;
	color: var(--highlight-color-dark);

	}
	        body.dark-theme h3 {
font-weight: 900;
        margin-left: auto;
        margin-right: auto;
margin-top: 17px;
margin-bottom: 17px;
        font-family: 'Orbitron', sans-serif;
        text-align: center;
	color: var(--highlight-color-dark); 

    }


    hr {
        margin: 20px 0 10px 0;
        max-width: 20%;
        margin-left: auto;
        margin-right: auto;
        border: 2px solid;
        border-color: var(--highlight-color) !important;
    }
   body.dark-theme hr {
        margin: 20px 0 10px 0;
        max-width: 20%;
        margin-left: auto;
        margin-right: auto;
        border: 2px solid;
        border-color: var(--highlight-color-dark) !important;
    }

    blockquote {
      position: relative;
          text-align: center;
          font-style: italic;
          padding: 1rem 1.2rem;
          width: 90%;  /* create space for the quotes */
          color: var(--font-color);
          margin: 1rem auto 2rem;
          background:
          linear-gradient(to right, var(--highlight-color) 4px, transparent 4px) 0 100%,
          linear-gradient(to left, var(--highlight-color) 4px, transparent 4px) 100% 0,
          linear-gradient(to bottom, var(--highlight-color) 4px, transparent 4px) 100% 0,
          linear-gradient(to top, var(--highlight-color) 4px, transparent 4px) 0 100%;
          background-repeat: no-repeat;
          background-size: 20px 20px;
      }
 body.dark-theme blockquote {
      position: relative;
          text-align: center;
          font-style: italic;
          padding: 1rem 1.2rem;
          width: 90%;  /* create space for the quotes */
          color: var(--font-color);
          margin: 1rem auto 2rem;
          background:
          linear-gradient(to right, var(--highlight-color-dark) 4px, transparent 4px) 0 100%,
          linear-gradient(to left, var(--highlight-color-dark) 4px, transparent 4px) 100% 0,
          linear-gradient(to bottom, var(--highlight-color-dark) 4px, transparent 4px) 100% 0,
          linear-gradient(to top, var(--highlight-color-dark) 4px, transparent 4px) 0 100%;
          background-repeat: no-repeat;
          background-size: 20px 20px;
 } 
      .button {
        border: 2px solid black;
        border-color: var(--primary-color);
        color: var(--primary-color);
  color: var(--primary-color);
  padding: 14px 28px;
  font-size: 19px;
  cursor: pointer;
      }
::-moz-selection { /* Code for Firefox */
  color: black;
  background: orange;
}

::selection {
  color: black;
  background: orange;
}
      /* -- create the quotation marks -- */
      blockquote:before {
          font-family:  "Font Awesome 5 Free";
          position: absolute;
          font-style: normal;
    font-weight: 900;
          color: var(--highlight-color);
          font-size: 34px;
      }

      blockquote:after{
          font-family:  "Font Awesome 5 Free";
          position: absolute;
          font-style: normal;
    font-weight: 900;
          color: var(--highlight-color);
          font-size: 34px;
      }
 body.dark-theme blockquote:before{
          font-family:  "Font Awesome 5 Free";
          position: absolute;
          font-style: normal;
    font-weight: 900;
          color: var(--highlight-color-dark);
          font-size: 34px;
      }
 body.dark-theme blockquote:after{
          font-family:  "Font Awesome 5 Free";
          position: absolute;
          font-style: normal;
    font-weight: 900;
          color: var(--highlight-color-dark);
          font-size: 34px;
      }

      blockquote:before{
          content: "\f10d";
          top: -12px;
          margin-right: -20px;
          right: 100%;
      }
      blockquote:after{
          content: "\f10e";
          margin-left: -20px;
          left: 100%;
          top: auto;
          bottom: -20px;
      }

    blockquote p {
        font-family: 'Merriweather', serif;
        font-size: 1.25rem;

    }

    table {
        width: 100%;
        border-collapse: collapse;

        td, th {
            padding: .75rem;
            vertical-align: top;
        }
    }
    .card {
box-shadow: 0 0px 20px 0 rgba(0,0,0,0.2);
background-color: var(--secondary-color) !important;
}
    body.dark-theme .card {
box-shadow: 0 0px 20px 0 rgba(0,0,0,0.2);
background-color: var(--secondary-color-dark) !important;
}


   .responsive {
   max-width: 90%;
   height: auto;
   display: block;
   margin-left: auto;
   margin-right: auto;
  }
  .small{
  max-width: 50%;
  height: auto;
  display: block;
  margin-left: auto;
  margin-right: auto;
 }

.twcontent {
max-wdith: 900px;
margin-left: auto;
margin-right: auto;
}
.column {
  float: left;
  padding: 10px;
}


.left {
  width: 22.5%;
}
.middle {
  width: 50%;
}
.right {
  width: 22.5%;
}

@media screen and (max-width: 600px) {
  .column {
    width: 97%;
  }
}
/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}
   ol,ul {
   display: block;
    font-family: 'Work Sans', sans-serif;
    font-size: 18px;
line-weight: 300;
line-height: 1.6;
padding: 20px;
    }
ul {
list-style-type: circle;
}
    .featured-image {
        height: 10rem;
    }

    video {
  /* override other styles to make responsive */
  width: 100%    !important;
  height: auto   !important;
    }

/* Masthead */

.masthead-plain {
    border-bottom: 1px solid var(--divider-color);
    padding-top: 2rem;
}

.PageNavigation {
  font-size: 15px;
  display: block;
  max-width: 700px;
  font-family: 'Merriweather', serif;
  overflow: hidden;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

body.dark-theme .PageNavigation {
  font-size: 15px;
  display: block;
  max-width: 700px;
  font-family: 'Orbitron', sans-serif;
  overflow: hidden;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}
/* Style the header */
.header {
 padding: 20px;
  text-align: center;
  font-size: 30px;
}

div.header p{
text-align: center;
  font-family: 'Merriweather', serif;
font-weight: 400;
font-size: 20px;
}

body.dark-theme div.header p{
text-align: center;
  font-family: 'Orbitron', sans-serif;
font-weight: 400;
font-size: 20px;
}
nav.navbar {
background-color: var(--secondary-color);
flex: justify-content-between;
}

body.dark-theme nav.navbar {
    background-color: var(--secondary-color-dark);
    flex: justify-content-between;
}

nav.navbar a:hover {
background-color: var(--primary-color);
}

.hamburger {
font-size: 20px;
color: var(--highlight-color);
}

.navbar-nav .nav-item .nav-link {
    color: var(--font-color);
    background-color: var(--secondary-color);
}

body.dark-theme .navbar-nav .nav-item .nav-link {
    color: var(--font-color);
    background-color: var(--secondary-color-dark);
}

.navbar-nav .nav-item.active .nav-link,
.navbar-nav .nav-item:hover .nav-link {
    background-color: var(--highlight-color);
}

.navbar-custom {
    background-color: var(--secondary-color);
}

body.dark-theme .navbar-custom {
    background-color: #454545;
}
.navbar-brand {
    color: var(--highlight-color);
}
body.dark-theme .navbar-brand {
    color: var(--highlight-color-dark);
}
/* change the brand and text color */
.navbar-custom .navbar-text {
    color: var(--highlight-color) !important;
font-size: 20px;
}
body.dark-theme .navbar-custom .navbar-text {
    color: var(--highlight-color-dark) !important;
font-size: 20px;
}


/* change the link color */
.navbar-custom .navbar-nav .nav-link {
    color: var(--font-color);
background-color: var(--secondary-color);
font-weight: 400px;
text-decoration: none;
}

body.dark-theme .navbar-custom .navbar-nav .nav-link {
    color: var(--font-color-dark);
background-color: #454545;
font-weight: 400px;
text-decoration: none;
}

/* change the color of active or hovered links */
.navbar-custom .nav-item.active .nav-link,
.navbar-custom .nav-item:hover .nav-link {
    background-color: var(--primary-color);
}

.active {
  background-color: #4CAF50;
}



@media screen and (max-width: 500px) {
  .navbar a {
    float: none;
    display: block;
  }
}

@media (max-width: 978px) {
    .navbar-fixed-top, .navbar-fixed-bottom, .navbar-static-top {
      margin-left: 0;
      margin-right: 0;
      margin-bottom:0;
    }
}


.container-narrow {
max-width: 900px;
margin-left: auto;
margin-right: auto;
}
.panel{
  max-width: 600px;
  margin-left: auto;
  margin-right: auto;
  border: 1px solid;
  border-color: red;
}


/* Footer */

.footer {
font-size: 14px;
border-top: 1px solid var(--primary-color);
text-align: center;
}
    .container {
        .content {
            border-top: 1px solid var(--primary-color);
        }
    }
hr {
    max-width: 20%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 40px;
    margin-bottom: 40px;
    border: 2px solid;
    border-color: var(--highlight-color) !important;
}

@media screen and (max-width: 600px) {
  .header {
padding: 5px;
font-size: 20px;
  }
}

    #mc_embed_signup_scroll {
        max-width: 700px;
        margin-left: auto;
        margin-right: auto;
	padding: 2px;
        font-family: 'Amethysta';
        background-color: var(--background-color);
        color: var(--font-color);
}
    body.dark-theme #mc_embed_signup_scroll {
        max-width: 700px;
        margin-left: auto;
        margin-right: auto;
        font-family: 'Amethysta';
        background-color: var(--background-color-dark);
        color: var(--font-color-dark);
    }
    #mc-embedded-subscribe-form {
      background-color: var(--background-color);
      font-family: 'Amethysta';
      padding: 5px;
      color: var(--font-color);
    }

    body.dark-theme #mc-embedded-subscribe-form {
      background-color: var(--background-color-dark);
      font-family: 'Amethysta';
      padding: 5px;
      color: var(--font-color-dark);
    }
    #disqus_thread {
    max-width: 700px;
    margin-left: auto;
    margin-right: auto;
}

@media (max-width: 600px) {
    #navigation.collapse {
      position: fixed;
      z-index: 2000;
      transition: all .3s ease;
      top: 0;
      bottom: 0;
      right: -30%; /* -width of sidebar */
      width: 0;
      height: 100% !important;
      display: block;
      color: red
    }

    #navigation.collapsing {
        transition: all .18s ease-in;
        position: fixed;
        top: 0;
        bottom: 0;
        right: -30%;  /* -width of sidebar */
        width: 30%;  /* width of sidebar */
        height: 100% !important;
        display: block;
    }

    #navigation.collapse.show {
        right: 0;
        width: 30%;  /* width of sidebar */
    }
 }

 @media (max-width: 480px) {
     .content{
        margin-left: 0;
        margin-top: 5px;
     }
   }


 @media (max-width: 320px) {
     .content{
        margin-left: 0;
        margin-top: 5px;
     }
   }

 @media (min-width:320px)  { /* smartphones, portrait iPhone, portrait 480x320 phones (Android) */ }
 @media (min-width:480px)  { /* smartphones, Android phones, landscape iPhone */ }
 @media (min-width:600px)  { /* portrait tablets, portrait iPad, e-readers (Nook/Kindle), landscape 800x480 phones (Android) */ }
 @media (min-width:801px)  { /* tablet, landscape iPad, lo-res laptops ands desktops */ }
 @media (min-width:1025px) { /* big landscape tablets, laptops, and desktops */ }
 @media (min-width:1281px) { /* hi-res laptops and desktops */ }
/* Anchor JS */

.anchorjs-link {
    transition: all .25s linear;
}

*:hover > .anchorjs-link {
    margin-right: -1.125em !important;
}

:target {
    padding-top: 0.45em;
}

/* Syntax */

.highlighter-rouge {
    .highlight {
        background-color: var(--code-background-color);
        color: var(--font-color);
        border-radius: 0.5rem;
    }
    pre {
        padding: 1rem;
    }
}

.row {
  margin: 8px -16px;
}

.mailchimp {
    border: 1px solid var(--highlight-color)
}

.mailchimp p{
    margin: 2px;
}

body.dark-theme .mailchimp{
    border: 1px solid var(--highlight-color-dark)
}

/* Content */
.blockcontent {
  background-color: var(--secondary-color);
  padding: 10px;
}

.highlight .hll { background-color: #333333 }
.highlight .c { color: #008800; font-style: italic; background-color: #0f140f } /* Comment */
.highlight .err { color: #ffffff } /* Error */
.highlight .esc { color: #ffffff } /* Escape */
.highlight .g { color: #ffffff } /* Generic */
.highlight .k { color: #fb660a; font-weight: bold } /* Keyword */
.highlight .l { color: #ffffff } /* Literal */
.highlight .n { color: #ffffff } /* Name */
.highlight .o { color: #ffffff } /* Operator */
.highlight .x { color: #ffffff } /* Other */
.highlight .p { color: #ffffff } /* Punctuation */
.highlight .ch { color: #008800; font-style: italic; background-color: #0f140f } /* Comment.Hashbang */
.highlight .cm { color: #008800; font-style: italic; background-color: #0f140f } /* Comment.Multiline */
.highlight .cp { color: #ff0007; font-weight: bold; font-style: italic; background-color: #0f140f } /* Comment.Preproc */
.highlight .cpf { color: #008800; font-style: italic; background-color: #0f140f } /* Comment.PreprocFile */
.highlight .c1 { color: #008800; font-style: italic; background-color: #0f140f } /* Comment.Single */
.highlight .cs { color: #008800; font-style: italic; background-color: #0f140f } /* Comment.Special */
.highlight .gd { color: #ffffff } /* Generic.Deleted */
.highlight .ge { color: #ffffff } /* Generic.Emph */
.highlight .gr { color: #ffffff } /* Generic.Error */
.highlight .gh { color: #ffffff; font-weight: bold } /* Generic.Heading */
.highlight .gi { color: #ffffff } /* Generic.Inserted */
.highlight .go { color: #444444; background-color: #222222 } /* Generic.Output */
.highlight .gp { color: #ffffff } /* Generic.Prompt */
.highlight .gs { color: #ffffff } /* Generic.Strong */
.highlight .gu { color: #ffffff; font-weight: bold } /* Generic.Subheading */
.highlight .gt { color: #ffffff } /* Generic.Traceback */
.highlight .kc { color: #fb660a; font-weight: bold } /* Keyword.Constant */
.highlight .kd { color: #fb660a; font-weight: bold } /* Keyword.Declaration */
.highlight .kn { color: #fb660a; font-weight: bold } /* Keyword.Namespace */
.highlight .kp { color: #fb660a } /* Keyword.Pseudo */
.highlight .kr { color: #fb660a; font-weight: bold } /* Keyword.Reserved */
.highlight .kt { color: #cdcaa9; font-weight: bold } /* Keyword.Type */
.highlight .ld { color: #ffffff } /* Literal.Date */
.highlight .m { color: #0086f7; font-weight: bold } /* Literal.Number */
.highlight .s { color: #0086d2 } /* Literal.String */
.highlight .na { color: #ff0086; font-weight: bold } /* Name.Attribute */
.highlight .nb { color: #ffffff } /* Name.Builtin */
.highlight .nc { color: #ffffff } /* Name.Class */
.highlight .no { color: #0086d2 } /* Name.Constant */
.highlight .nd { color: #ffffff } /* Name.Decorator */
.highlight .ni { color: #ffffff } /* Name.Entity */
.highlight .ne { color: #ffffff } /* Name.Exception */
.highlight .nf { color: #ff0086; font-weight: bold } /* Name.Function */
.highlight .nl { color: #ffffff } /* Name.Label */
.highlight .nn { color: #ffffff } /* Name.Namespace */
.highlight .nx { color: #ffffff } /* Name.Other */
.highlight .py { color: #ffffff } /* Name.Property */
.highlight .nt { color: #fb660a; font-weight: bold } /* Name.Tag */
.highlight .nv { color: #fb660a } /* Name.Variable */
.highlight .ow { color: #ffffff } /* Operator.Word */
.highlight .w { color: #888888 } /* Text.Whitespace */
.highlight .mb { color: #0086f7; font-weight: bold } /* Literal.Number.Bin */
.highlight .mf { color: #0086f7; font-weight: bold } /* Literal.Number.Float */
.highlight .mh { color: #0086f7; font-weight: bold } /* Literal.Number.Hex */
.highlight .mi { color: #0086f7; font-weight: bold } /* Literal.Number.Integer */
.highlight .mo { color: #0086f7; font-weight: bold } /* Literal.Number.Oct */
.highlight .sa { color: #0086d2 } /* Literal.String.Affix */
.highlight .sb { color: #0086d2 } /* Literal.String.Backtick */
.highlight .sc { color: #0086d2 } /* Literal.String.Char */
.highlight .dl { color: #0086d2 } /* Literal.String.Delimiter */
.highlight .sd { color: #0086d2 } /* Literal.String.Doc */
.highlight .s2 { color: #0086d2 } /* Literal.String.Double */
.highlight .se { color: #0086d2 } /* Literal.String.Escape */
.highlight .sh { color: #0086d2 } /* Literal.String.Heredoc */
.highlight .si { color: #0086d2 } /* Literal.String.Interpol */
.highlight .sx { color: #0086d2 } /* Literal.String.Other */
.highlight .sr { color: #0086d2 } /* Literal.String.Regex */
.highlight .s1 { color: #0086d2 } /* Literal.String.Single */
.highlight .ss { color: #0086d2 } /* Literal.String.Symbol */
.highlight .bp { color: #ffffff } /* Name.Builtin.Pseudo */
.highlight .fm { color: #ff0086; font-weight: bold } /* Name.Function.Magic */
.highlight .vc { color: #fb660a } /* Name.Variable.Class */
.highlight .vg { color: #fb660a } /* Name.Variable.Global */
.highlight .vi { color: #fb660a } /* Name.Variable.Instance */
.highlight .vm { color: #fb660a } /* Name.Variable.Magic */
.highlight .il { color: #0086f7; font-weight: bold } /* Literal.Number.Integer.Long */
