{% include logic.html %}
<div class="card card-post border-top-0 border-left-0 border-right-0 rounded-0">
      <div style="background-color: #161716">
        <h1 class="card-title">
            <a href="{{ post.url | absolute_url }}">{{ post.title }}</a>
        </h1>
        <h6 class="card-subtitle text-secondary">
            {{ post.date | date_to_string }}
        </h6>
        <div class="card-text d-flex align-items-center">
        </div>
        <div>
            {{ post.excerpt }}
        </div>
        <p>
        <a href="{{ post.url | absolute_url }}"> Read More...</a>
        </p>
    </div>
