{% include logic.html %}

<div class="card card-post border-top-0 border-left-0 border-right-0 rounded-0">
      <div style="background-color: #353a3c">
  <h2 class="card-header"><a href="{{ post.url | absolute_url }}">{{ post.title }}</a>
  </h2>
  <div class="card-body">
    <h5 class="card-title text-muted text-center"> {{ post.date | date_to_string }} {{ post.catgeories }}</h5>
    <p class="card-text">{{ post.excerpt }}</p>
    <div class="card-footer text-center">
    <a href="{{ post.url | absolute_url }}" class="button">Read more</a>
  </div>
</div>
  </div>
  </div>
