---
layout: default
---
<div class="content">
  {{ content }}
  <!--
    Showing buttons to move to the next and to the previous list of posts (pager buttons).
  -->
  {% if paginator.total_pages > 1 %}
  <ul class="pager">
      {% if paginator.next_page %}
      <li class="next">
          <a href="{{ paginator.next_page_path | prepend: site.baseurl | replace: '//', '/' }}">&larr; Older Posts</a>
      </li>
      {% endif %}
      {% if paginator.previous_page %}
      <li class="previous">
          <a href="{{ paginator.previous_page_path | prepend: site.baseurl | replace: '//', '/' }}"> Newer Posts &rarr;</a>
      </li>
      {% endif %}
  </ul>
  {% endif %}
{% include logic.html %}
<html>
