
:root {
  --bg-color: #f9eecb ;
  --secondary-color: #F39D7F;
  --link-color: #1F7A8C;
  --highlight-color: #Ed4b32;
  --visited-link-color: #7D1538;
  --button-color:#B50000 ;
  --color-nav-dark: #151515;
  --color-nav-light: #fff;
  --color-nav-accent: #e00;
}

html {
  font-size: 62.5%;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif;
}

body {
  font-size: 1.8rem;
  line-height: 1.618;
  color: #0e0e0e;
  background-color: var(--bg-color);
  padding: 13px;
  min-height: 100vh;
  margin: 0;
  display: flex;
  flex-direction: column;
}

main {
  max-width: 45em;
  margin: auto;
  width: 100%;
  flex: 1;
}

a {
  text-decoration: none;
  border-bottom: 3px solid var(--highlight-color);
  color: var(--highlight-color);
  font-weight: 600;
}
a:visited {
  color: var(--visited-link-color);
}
a:hover {
  background-color: var(--link-color);
color: white;
}

/* Header */
.header{
    background-color: var(--bg-color);
    position: sticky;
    top: 0;
    width: 100%;
}

.header ul {
  list-style: none;
}

/* Logo */
.logo{
    display: inline-block;
    color: var(--button-color);
    font-size: 2em;
    margin-left: 10px;
}

/* Nav menu */
.nav{
    width: 100%;
    height: 100%;
    position: fixed;
    background-color: var(--bg-color);
    overflow: hidden;

}
.menu a{
    display: block;
    padding: 30px;
    text-decoration: none !important;
}
.menu a:hover{
    background-color: var(--secondary-color);
}
.nav{
    max-height: 0;
    transition: max-height .5s ease-out;
}
/* Menu Icon */
.hamb{
    cursor: pointer;
    float: right;
    padding: 40px 20px;
}/* Style label tag */

.hamb-line {
    background: var(--button-color);
    display: block;
    height: 2px;
    position: relative;
    width: 24px;

} /* Style span tag */

.hamb-line::before,
.hamb-line::after{
    background: var(--button-color);
    content: '';
    display: block;
    height: 100%;
    position: absolute;
    transition: all .2s ease-out;
    width: 100%;
}
.hamb-line::before{
    top: 5px;
}
.hamb-line::after{
    top: -5px;
}

.side-menu {
    display: none;
} /* Hide checkbox */

/* Toggle menu icon */
.side-menu:checked ~ nav{
    max-height: 100%;
}
.side-menu:checked ~ .hamb .hamb-line {
    background: var(--highlight-color);
    color: var(--bg-color);
}
.side-menu:checked ~ .hamb .hamb-line::before {
    transform: rotate(-45deg);
    top:0;
}
.side-menu:checked ~ .hamb .hamb-line::after {
    transform: rotate(45deg);
    top:0;
}

body:has(.side-menu:checked) {
  overflow: hidden;
}

/* Responsiveness */
@media (min-width: 768px) {
    .nav{
        max-height: none;
        top: 0;
        position: relative;
        float: right;
        width: fit-content;
        background-color: transparent;
    }
    .menu li{
        float: left;
    }
    .menu a:hover{
        background-color: var(--button-color);
        color: var(--bg-color);
    }

    .hamb{
        display: none;
    }
}

/* Page content. The value of the margin-left property should match the value of the sidebar's width property */
div.content {
  padding: 10px 10px;
  height: 100%;
}

.postmeta {
  text-align:center;
}

/* On screens that are less than 700px wide, make the sidebar into a topbar */
@media screen and (max-width: 700px) {
  .sidebar {
    width: 100%;
    height: auto;
    position: relative;
    border-bottom-color: var(--highlight-color);
    border-bottom-width: 2px;
  }
  .sidebar a {float: left;}
  div.content {margin-left: 0;}
  .sidebar p{
    text-align: center;
  }
}

.avatar {
  vertical-align: middle;
  width: 100px;
  height: 100px;
  border-radius: 50%;
}

footer {
 position: relative;
    left: 0;
    bottom: 0;
    width: 100%;
    border-top: #B50000 1px;
    text-align: center;
    font-size: small;
    line-height: 1;
  }
  footer.p {
    margin-bottom: 0;
  }

h1, h2, h3, h4, h5, h6 {
  line-height: 1.1;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-weight: 700;
  margin-top: 3rem;
  margin-bottom: 1.5rem;
  overflow-wrap: break-word;
  word-wrap: break-word;
  -ms-word-break: break-all;
  word-break: break-word;
  color: var(--highlight-color);
}

h1 {
  font-size: 2.35em;
  flex-grow: 1;
  text-align:center;
  padding-top: 1em;
  padding-bottom: 1em;
}

h2 {
  font-size: 2em;
  text-align:center;
   padding-top: 1em;
  padding-bottom: 1em;
}

h3 {
  font-size: 1.75em;
}

h4 {
  font-size: 1.5em;
}

h5 {
  font-size: 1.25em;
}


h6 {
  font-size: 1em;
}

p {
  margin-top: 0px;
  margin-bottom: 2.5rem;
  line-height: 1.5;
}

small, sub, sup {
  font-size: 75%;
}

hr {
  border-color: var(--highlight-color);
}

ul {
  padding-left: 1.4em;
  margin-top: 0px;
  margin-bottom: 2.5rem;
}

li {
  margin-bottom: 0.4em;
}

blockquote {
  margin-left: 0px;
  margin-right: 0px;
  padding-left: 1em;
  padding-top: 0.8em;
  padding-bottom: 0.8em;
  padding-right: 0.8em;
  border-left: 5px solid var(--highlight-color);
  margin-bottom: 2.5rem;
  background-color: var(--highlight-color);
  color: #f1f1f1;
}

blockquote p {
  margin-bottom: 0;
}

blockquote a {
  color: var(--link-color);
  text-decoration: underline;
}

img, video {
  height: auto;
  max-width: 100%;
  margin-top: 0px;
  margin-bottom: 2.5rem;
}

.book {
  height: auto;
  max-width: 50%;
  margin: auto;
  margin-bottom: 2.5rem;
}

/* Pre and Code */
pre {
  background-color: var(--bg-color);
  display: block;
  padding: 1em;
  overflow-x: auto;
  margin-top: 0px;
  margin-bottom: 2.5rem;
  font-size: 1em;
  color: #0e0e0e;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif;
}

code, kbd, samp {
  font-size: 0.9em;
  padding: 0 0.5em;
  background-color: #0e0e0e;
  white-space: pre-wrap;
}

pre > code {
  padding: 0;
  background-color: transparent;
  white-space: pre;
  font-size: 1em;
}

/* Tables */
table {
  text-align: justify;
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 2rem;
}

td, th {
  padding: 0.5em;
  border-bottom: 1px solid #f1f1f1;
}

/* Buttons, forms and input */
input, textarea {
  border: 1px solid #4a4a4a;
}
input:focus, textarea:focus {
  border: 1px solid #1d7484;
}

textarea {
  width: 100%;
}

.button, button, input[type=submit], input[type=reset], input[type=button], input[type=file]::file-selector-button {
  display: inline-block;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  white-space: nowrap;
  background-color: var(--button-color);
  color: #f9f9f9 !important;
  border-radius: 1px;
  border: 1px solid #030303;
  cursor: pointer;
  box-sizing: border-box;
  font-family: sans-serif;
  font-size: 1.0em;
}
.button[disabled], button[disabled], input[type=submit][disabled], input[type=reset][disabled], input[type=button][disabled], input[type=file]::file-selector-button[disabled] {
  cursor: default;
  opacity: 0.5;
}
.button:hover, button:hover, input[type=submit]:hover, input[type=reset]:hover, input[type=button]:hover, input[type=file]::file-selector-button:hover {
  background-color:  var(--highlight-color);
  color: #f9f9f9;
  outline: 0;
}
.button:focus-visible, button:focus-visible, input[type=submit]:focus-visible, input[type=reset]:focus-visible, input[type=button]:focus-visible, input[type=file]::file-selector-button:focus-visible {
  outline-style: solid;
  outline-width: 2px;
}

.button a{
color: white !important; 
}

textarea, select, input {
  color: #4a4a4a;
  padding: 6px 10px; /* The 6px vertically centers text on FF, ignored by Webkit */
  margin-bottom: 10px;
  background-color: #f1f1f1;
  border: 1px solid #f1f1f1;
  border-radius: 4px;
  box-shadow: none;
  box-sizing: border-box;
}
textarea:focus, select:focus, input:focus {
  border: 1px solid #1d7484;
  outline: 0;
}

input[type=checkbox]:focus {
  outline: 1px dotted #1d7484;
}

label, legend, fieldset {
  display: block;
  margin-bottom: 0.5rem;
  font-weight: 600;
}


@media (max-width: 684px) {
  body {
    font-size: 1.53rem;
  }
}
@media (max-width: 382px) {
  body {
    font-size: 1.35rem;
  }
  nav {
    position: sticky;
    top: 50px;
    height: 100vh;
    display: flex;
    grid-template-columns: none;
  }
  nav ul,
  nav li{
    display: inline;
    padding-right: 10px;}
} 